[preset.0]

name="iOS"
platform="iOS"
runnable=true
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="../Ball2Box.ipa"
script_export_mode=1
script_encryption_key=""

[preset.0.options]

custom_template/debug=""
custom_template/release=""
architectures/armv7=false
architectures/arm64=true
application/app_store_team_id="IOS_APPSTORE_TEAM_ID"
application/provisioning_profile_uuid_debug=""
application/code_sign_identity_debug="iPhone Developer"
application/export_method_debug=1
application/provisioning_profile_uuid_release=""
application/code_sign_identity_release=""
application/export_method_release=0
application/targeted_device_family=2
application/name="Ball2Box"
application/info="Swipe to toss the ball in the box"
application/identifier="com.salvai.ultimatetoss"
application/signature=""
application/short_version="IOS_SHORT_VERSION"
application/version="IOS_VERSION"
application/copyright=""
capabilities/access_wifi=false
capabilities/push_notifications=false
user_data/accessible_from_files_app=false
user_data/accessible_from_itunes_sharing=false
privacy/camera_usage_description=""
privacy/microphone_usage_description=""
privacy/photolibrary_usage_description=""
icons/iphone_120x120="res://AppIcons/Assets.xcassets/AppIcon.appiconset/120.png"
icons/iphone_180x180="res://AppIcons/Assets.xcassets/AppIcon.appiconset/180.png"
icons/ipad_76x76="res://AppIcons/Assets.xcassets/AppIcon.appiconset/76.png"
icons/ipad_152x152="res://AppIcons/Assets.xcassets/AppIcon.appiconset/152.png"
icons/ipad_167x167="res://AppIcons/Assets.xcassets/AppIcon.appiconset/167.png"
icons/app_store_1024x1024="res://AppIcons/Assets.xcassets/AppIcon.appiconset/1024.png"
icons/spotlight_40x40="res://AppIcons/Assets.xcassets/AppIcon.appiconset/40.png"
icons/spotlight_80x80="res://AppIcons/Assets.xcassets/AppIcon.appiconset/80.png"
storyboard/use_launch_screen_storyboard=false
storyboard/image_scale_mode=0
storyboard/custom_image@2x=""
storyboard/custom_image@3x=""
storyboard/use_custom_bg_color=false
storyboard/custom_bg_color=Color( 0, 0, 0, 1 )
landscape_launch_screens/iphone_2436x1125="res://AppIcons/bundle/iOS/LaunchImage.launchimage/LaunchImage-2436@3x~iphoneX-landscape_2436x1125.png"
landscape_launch_screens/iphone_2208x1242="res://AppIcons/bundle/iOS/LaunchImage.launchimage/LaunchImage-1242@3x~iphone6s-landscape_2208x1242.png"
landscape_launch_screens/ipad_1024x768="res://AppIcons/bundle/iOS/LaunchImage.launchimage/LaunchImage-Landscape~ipad_1024x768.png"
landscape_launch_screens/ipad_2048x1536="res://AppIcons/bundle/iOS/LaunchImage.launchimage/LaunchImage-Landscape@2x~ipad_2048x1536.png"
portrait_launch_screens/iphone_640x960="res://AppIcons/bundle/iOS/LaunchImage.launchimage/LaunchImage~iphone_640x960.png"
portrait_launch_screens/iphone_640x1136="res://AppIcons/bundle/iOS/LaunchImage.launchimage/LaunchImage-568h@2x~iphone_640x1136.png"
portrait_launch_screens/iphone_750x1334="res://AppIcons/bundle/iOS/LaunchImage.launchimage/LaunchImage-750@2x~iphone6-portrait_750x1334.png"
portrait_launch_screens/iphone_1125x2436="res://AppIcons/bundle/iOS/LaunchImage.launchimage/LaunchImage-1125@3x~iphoneX-portrait_1125x2436.png"
portrait_launch_screens/ipad_768x1024="res://AppIcons/bundle/iOS/LaunchImage.launchimage/LaunchImage-Portrait~ipad_768x1024.png"
portrait_launch_screens/ipad_1536x2048="res://AppIcons/bundle/iOS/LaunchImage.launchimage/LaunchImage-Portrait@2x~ipad_1536x2048.png"
portrait_launch_screens/iphone_1242x2208="res://AppIcons/bundle/iOS/LaunchImage.launchimage/LaunchImage-1242@3x~iphone6s-portrait_1242x2208.png"
